// ---------------------------------------------------------------------------

.copy--displaying
  padding-right 3px
  color $txt-teal
  font-family Lato
  font-size 13px
  font-style italic
  font-weight 300
  line-height 22px
  text-transform uppercase
