// ---------------------------------------------------------------------------

.layout--header
  width 976px
  margin 0 auto 20px
  padding 10px 9px 0 9px
  h1
    margin 0
    color $txt-white
    font-family Lato
    font-size 28px
    font-weight 300
    text-transform uppercase


// ---------------------------------------------------------------------------

.layout--nav
  width 976px
  margin 0 auto 25px
  padding 0 9px
  clearfix()
  .faction--list
    float left
  aside
    float right
    text-align right
