// ---------------------------------------------------------------------------

.faction--listing
  display inline-block
  margin-right 20px
  color $txt-white
  font-family Lato
  font-weight 300
  text-decoration none
  text-transform capitalize
  &:last-child
    margin-right 0
  &:hover
    text-decoration underline
