// ---------------------------------------------------------------------------

.faction--listing
  display inline-block
  margin-right 20px
  color $txt-teal
  font-family Lato
  font-size 13px
  font-weight 300
  line-height 22px
  text-decoration none
  text-transform uppercase
  transition color .2s
  &:last-child
    margin-right 0
  &:hover
    color $txt-white

