// ---------------------------------------------------------------------------

.layout--header
  width 976px
  margin 0 auto 20px
  padding 15px 10px 0 8px
  clearfix()
  h1
    float left
    margin 0
    color $txt-white
    font-family Lato
    font-size 28px
    font-weight 300
    text-transform uppercase
  aside
    float right
    a
      position relative
      top 10px
      padding 7px 12px
      color rgba($txt-teal, 0.5)
      font-family Lato
      font-size 12px
      font-weight 300
      text-transform uppercase
      border 1px solid rgba($txt-teal, 0.3)
      border-radius 20px
      cursor pointer
      transition border-color .2s, color .2s
      &:hover
        color $txt-white
        border-color rgba($txt-teal, 0.7)


// ---------------------------------------------------------------------------

.layout--nav
  width 976px
  margin 0 auto 30px
  padding 0 9px
  clearfix()
  .faction--list
    float left
  aside
    float right
    text-align right
